
#import-msg
  - if params[:s].present?
    %p.alert.alert-success
      Success rows:
      =params[:s]
      %button.close{"data-dismiss" => "alert", :type => "button"}
        %strong
          %i.ace-icon.fa.fa-times 
    
  %br/

  - if params[:f].present?
    %p.alert.alert-danger
      Failed rows:
      =params[:f]
      %button.close{"data-dismiss" => "alert", :type => "button"}
        %strong
          %i.ace-icon.fa.fa-times 
  %h3.lighter.purple PROJECT IMPORT
  .widget-main
  = form_tag "/product_import", multipart: true do
    .col-xs-4
      %label.ace-file-input
        = file_field_tag :file, onchange: "$(this).parent().find('.form-input-file-name').html($(this).val().split(/[\\\\|/]/).pop());"
        %span.ace-file-container{"data-title" => "Choose"}
          %span.ace-file-name
            %span.form-input-file-name
            %i.ace-icon.fa.fa-upload
      %button.btn.btn-primary
        %i.ace-icon.fa.fa-cloud-upload
          Import
      
      
      = link_to "<i class='ace-icon fa fa-cloud-download'></i>Download Template".html_safe, "/Untitled 1.xls", :target => "_blank", :class => "btn btn-success pull-right"
