%h3 Thank You For placing your order !!!!!
%br/

%table#bagTable
  %tbody
    %tr#shopping_head
      %th Product Image
      %th Product Title
      %th Qty
      %th Price
      

    - @order.order_items.each do |item|
      %tr
        %td 
          %img{:src => item.product.image.url(:thumb)}
        %td 
          = item.product.title
        %td 
          = item.quantity
        %td
          =item.total_price
    %tr
    %td{:style => "font-weight: bold"} Grand Total : 
    %td{:colspan => 5, :style => "text-align:right;padding-right: 210px;font-weight: bold"}
      = @order.grand_total_price
%br/
