.login
  .wrap
    .col_1_of_login.span_1_of_login
      %h4.title New Customers
     
      .button1
        %a{:href => new_user_registration_path}
          %input{:name => "Submit", :type => "submit", :value => "Create an Account"}/
      .clear
    .col_1_of_login.span_1_of_login
      .login-title
        %h4.title Registered Customers
        #loginbox.loginbox
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            %fieldset.input
              %p#login-form-username
                %label Email
                %br/
                = f.email_field :email, :class => "form-control"
              %p#login-form-password
                %label Password 
                %br/
                = f.password_field :password, :class => "form_control"
              .remember
                %p#login-form-remember
                  %label{:for => "modlgn_remember"}
                    %a{:href => new_user_password_path} Forget Your Password ?
                %input.button{:name => "Submit", :type => "submit", :value => "Login"}/
                %br/
            = link_to image_tag("facebook.png", :border => 0), user_omniauth_authorize_path(:facebook) 
            .clear
    .clear