.profile-user-info.profile-user-info-striped
  .profile-info-row
    .profile-info-name Name
    .profile-info-value
      %p
        
        = @category.name
  .profile-info-row
    .profile-info-name Code
    .profile-info-value
      %p
        
        = @category.code
           
  .profile-info-row
    .profile-info-name Description
    .profile-info-value
      %p
        = @category.description
      
  