%p#notice= notice
= render "details"
%br/ 
%button.btn.btn-xs.btn-info
              = link_to "Edit", edit_category_path(@category)
%button.btn.btn-xs.btn-success
              = link_to "Back", categories_path

