
= render "details"
%br/ 
.hidden-sm.hidden-xs.btn-group
 %button.btn.btn-xs.btn-info
  %span.ace-icon.fa.fa-pencil.bigger-120::before 
   = link_to "Edit", edit_category_path(@category)
.hidden-sm.hidden-xs.btn-group
 %button.btn.btn-xs.btn-success
  %span.ace-icon.fa.fa-reply.icon-only::before 
   = link_to "Back", categories_path
