%p#notice= notice
= render "details"
%br/ 
%button.btn.btn-xs.btn-info
              = link_to "Edit", edit_product_path(@product)
%button.btn.btn-xs.btn-success
              = link_to "Back", products_path
