%p#notice= notice
= render "details"
%br/ 
.hidden-sm.hidden-xs.btn-group
 = link_to "<span class='ace-icon fa fa-pencil bigger-120'>Edit</span>".html_safe, edit_product_path(@product), :class => "button btn btn-xs btn-info"
.hidden-sm.hidden-xs.btn-group
 = link_to "<span class='ace-icon fa fa-reply icon-only bigger-120'>Back</span>".html_safe, products_path, :class => "button btn btn-xs btn-success"
