.register_account
  .wrap
    .submit
      = button_to 'EMPTY CART', cart_path(@cart), :method => :delete, data: {:confirm => 'Are you sure?'}, :style => "float: right", :remote => true
    %h4.title 
      %b Shopping cart
    %p.cart
      #shopping_bag
        = render 'cartdetails'