.mens
.main
  .wrap
    .cont.span_2_of_3
      .grid.images_3_of_2
        %ul#etalage
          %li
            %img.etalage_thumb{:src => @product.image.url}/
            %img.etalage_source_image{:src => @product.image.url}/
          %li.etalage_thumb
            %img.etalage_thumb{:src => @product.view1.url}/
            %img.etalage_source_image{:src => @product.view1.url}/
          %li.etalage_thumb
            %img.etalage_thumb{:src => @product.view2.url}/
            %img.etalage_source_image{:src => @product.view2.url}/
          %li.etalage_thumb
            %img.etalage_thumb{:src => @product.view3.url}/
            %img.etalage_source_image{:src => @product.view3.url}/
        .clearfix
      .desc1.span_3_of_2
        %h3.m_3 Lorem ipsum dolor sit amet
        %p.m_5
          = "Rs. " + @product.price.to_s
          
        .btn_form           
          = button_to "Add to Cart", line_items_path(:product_id => @product.id), :remote => true
      .clear
      .toogle
        %h3.m_3 Product Details
        = @product.description
      .toogle
        
    .rsingle.span_1_of_single
.clear

:javascript
  jQuery(document).ready(function($){
    $('#etalage').etalage({
      thumb_image_width: 360,
      thumb_image_height: 360,
      source_image_width: 900,
      source_image_height: 900,
      show_hint: true,
      click_callback: function(image_anchor, instance_id){
        alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
      }
    });

  });
