#breadcrumbs.breadcrumbs
  :javascript
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  %ul.breadcrumb
    %li
  / /.breadcrumb
  #nav-search.nav-search
    %form.form-search
      %span.input-icon
  / /.nav-search