#navbar.navbar.navbar-default
  :javascript
    try{ace.settings.check('navbar' , 'fixed')}catch(e){}
  #navbar-container.navbar-container
    %button#menu-toggler.navbar-toggle.menu-toggler.pull-left{"data-target" => "#sidebar", :type => "button"}
      %span.sr-only Toggle sidebar
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-header.pull-left
      %a.navbar-brand{:href => '"index.html"'}
        %small
          Admin
    .navbar-buttons.navbar-header.pull-right{:role => "navigation"}
      %ul.nav.ace-nav
        %li.grey
          - if user_signed_in?
            %a{:method => :delete, :href => "#{destroy_user_session_path}"}
              %small
                %i.ace-icon.fa.fa-power-off
              Logout
          - else
            %a{:href => "#{new_user_session_path}"}
              %small
                %i.ace-icon.fa.fa-key
              Login
          
