#sidebar.sidebar.responsive
  #sidebar-shortcuts.sidebar-shortcuts
  %ul.nav.nav-list
    %li{:class => params[:controller] == "dashboard" ? "active" : ""}
      %a{:href => "/dashboard"}
        %i.menu-icon.fa.fa-tachometer
        %span.menu-text Dashboard
      %b.arrow
    %li{:class => params[:controller] == "categories" ? "active" : ""}
      %a{:href => "#{categories_url}"}
        %i.menu-icon.fa.fa-tachometer
        %span.menu-text Categories
      %b.arrow

    %li{:class => params[:controller] == "products" ? "active" : ""}
      %a{:href => "#{products_url}"}
        %i.menu-icon.fa.fa-tachometer
        %span.menu-text Products
      %b.arrow
    %li{:class => params[:controller] == "users" ? "active" : ""}
      %a{:href => "#{users_url}"}
        %i.menu-icon.fa.fa-tachometer
        %i.ace-icon.fa.fa-user
        %span.menu-text Users
      %b.arrow  
