.footer
  .footer-bottom
    .wrap
      .copy
        %p
          © 2014 Template by
          %a{:href => "http://w3layouts.com", :target => "_blank"} w3layouts
      .f-list2
        %ul
          %li.active
            %a{:href => "about.html"} About Us
          |
          %li
            %a{:href => "delivery.html"} Delivery & Returns
          |
          %li
            %a{:href => "delivery.html"} Terms & Conditions
          |
          %li
            %a{:href => "contact.html"} Contact Us
      .clear