.header-top
  .wrap
    .header-top-left
    .cssmenu
      %ul
        %li.active
          %a{:href => "login.html"} Account
        |
        %li
          %a{:href => "checkout.html"} Checkout
        |
        - if user_signed_in?
          %li
            %a{:href => "#{destroy_user_session_path}"} Logout
            
        - else
          %li
            %a{:href => "#{new_user_session_path}"} Log In
          |
          %li
            %a{:href => "#{new_user_registration_path}"} Sign Up
        
    .clear
.header-bottom
  .wrap
    .header-bottom-left
      .logo
        %a{:href => "index.html"}
          %img{:alt => "", :src => "images/logo.png"}/
      .menu
        %ul.megamenu.skyblue
          %li.active.grid
            %a{:href => "index.html"} Home
          %li
            %a.color4{:href => "#"} women
            .megapanel
              .row
                .col1
                  .h_nav
                    %h4 Contact Lenses
                    %ul
                      %li
                        %a{:href => "womens.html"} Daily-wear soft lenses
                      %li
                        %a{:href => "womens.html"} Extended-wear
                      %li
                        %a{:href => "womens.html"} Lorem ipsum
                      %li
                        %a{:href => "womens.html"} Planned replacement
                .col1
                  .h_nav
                    %h4 Sun Glasses
                    %ul
                      %li
                        %a{:href => "womens.html"} Heart-Shaped
                      %li
                        %a{:href => "womens.html"} Square-Shaped
                      %li
                        %a{:href => "womens.html"} Round-Shaped
                      %li
                        %a{:href => "womens.html"} Oval-Shaped
                .col1
                  .h_nav
                    %h4 Eye Glasses
                    %ul
                      %li
                        %a{:href => "womens.html"} Anti Reflective
                      %li
                        %a{:href => "womens.html"} Aspheric
                      %li
                        %a{:href => "womens.html"} Bifocal
                      %li
                        %a{:href => "womens.html"} Hi-index
                      %li
                        %a{:href => "womens.html"} Progressive
          %li
            %a.color5{:href => "#"} Men
            .megapanel
              .col1
                .h_nav
                  %h4 Contact Lenses
                  %ul
                    %li
                      %a{:href => "mens.html"} Daily-wear soft lenses
                    %li
                      %a{:href => "mens.html"} Extended-wear
                    %li
                      %a{:href => "mens.html"} Lorem ipsum
                    %li
                      %a{:href => "mens.html"} Planned replacement
              .col1
                .h_nav
                  %h4 Sun Glasses
                  %ul
                    %li
                      %a{:href => "mens.html"} Heart-Shaped
                    %li
                      %a{:href => "mens.html"} Square-Shaped
                    %li
                      %a{:href => "mens.html"} Round-Shaped
                    %li
                      %a{:href => "mens.html"} Oval-Shaped
              .col1
                .h_nav
                  %h4 Eye Glasses
                  %ul
                    %li
                      %a{:href => "mens.html"} Anti Reflective
                    %li
                      %a{:href => "mens.html"} Aspheric
                    %li
                      %a{:href => "mens.html"} Bifocal
                    %li
                      %a{:href => "mens.html"} Hi-index
                    %li
                      %a{:href => "mens.html"} Progressive
          %li
            %a.color6{:href => "other.html"} Other
          %li
            %a.color7{:href => "other.html"} Purchase
    .header-bottom-right
      .tag-list
        %ul.icon1.sub-icon1.profile_img
          %li
            %a.active-icon.c1{:href => "#"}
            %ul.sub-icon1.list
              %li
                %h3 sed diam nonummy
                %a{:href => ""}
              %li
                %p
                  Lorem ipsum dolor sit amet, consectetuer
                  %a{:href => ""} adipiscing elit, sed diam
        %ul.icon1.sub-icon1.profile_img
          %li
            %a.active-icon.c2{:href => "#"}
            %ul.sub-icon1.list
              %li
                %h3 No Products
                %a{:href => ""}
              %li
                %p
                  Lorem ipsum dolor sit amet, consectetuer
                  %a{:href => ""} adipiscing elit, sed diam
        %ul.last
          %li
            %a{:href => "#"} Cart(0)
    .clear